<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Upload Success!</h3>
      </div>
      <hr/>
      <div>
      Your CAD models have been uploaded and are ready to be viewed.<br>
      
      <ul>
        {% for file in filenames %}
          <li><a href="{{url_for('uploaded_file', filename=file)}}">{{file}}</a></li>
        {% endfor %}
      </ul>
      </div>
      <div class="header">
        <h3 class="text-muted">Code to manage a Upload</h3>
      </div>
      <hr/>    
      </div>
    </div>
  </body>
</html>
